<div class="container full-h" :style="checkzIndex">
    <el-container class="full-h flex-warp">
        <el-main class="flex-column-center" style="display: flex;padding: 0;min-width: 500px">
            <el-header class="flex-between">
                <div class="back flex-start">
                    <el-icon @click="handleBack"><ArrowLeftBold /></el-icon>
                    <h1>{{ projectData.projectName }}
                        <span style="color:red" v-if="!isSaveProject">*</span>
                    </h1>
                </div>
                <div class="flex-end">
                    <el-tooltip
                    content="撤销 [Alt/⌥ + z]"
                    placement="bottom">
                        <el-icon style="margin-right: 25px;" @click="handleRevoke"><Back /></el-icon>
                    </el-tooltip>

                    <el-tooltip
                    content="恢复 [Alt/⌥ + x]"
                    placement="bottom">
                        <el-icon style="margin-right: 25px;" @click="handleRecover"><Right /></el-icon>
                    </el-tooltip>

                    <el-tooltip content="放大画布 [滚轮/Ctrl/⌘ + =]" placement="bottom">
                        <el-icon style="margin-right: 25px;" @click="handleResizeCanvas(1)"><ZoomIn /></el-icon>
                    </el-tooltip>

                    <el-tooltip content="缩小画布 [滚轮/Ctrl/⌘ + -]" placement="bottom">
                        <el-icon style="margin-right: 25px;" @click="handleResizeCanvas(-1)"><ZoomOut /></el-icon>
                    </el-tooltip>
                    

                    <el-tooltip content="重置画布 [Alt/⌥ + v]" placement="bottom">
                        <el-icon style="margin-right: 25px;" @click="handleResetCanvas"><Refresh /></el-icon>
                    </el-tooltip>

                    <el-tooltip content="移动画布 [空格 + 鼠标]" placement="bottom">
                        <el-icon style="margin-right: 25px; color: orange;" v-if="isSpace" @click="isSpace=false"><Pointer /></el-icon>
                        <el-icon style="margin-right: 25px;" @click="isSpace=true" v-else><Pointer /></el-icon>
                    </el-tooltip>

                    <el-tooltip
                    :content="!previewLoading ? '预览动画 [Alt/⌥ + p]' : '正在加载'"
                    placement="bottom">
                        <el-icon style="margin-right: 25px;" @click="handleOpenPreviewDialog" v-if="!previewLoading"><VideoPlay /></el-icon>
                        <el-icon style="margin-right: 25px;" class="is-loading" v-else><Loading /></el-icon>
                    </el-tooltip>

                    <!-- <el-tooltip
                    content="导出"
                    placement="bottom">
                        <el-icon style="margin-right: 25px;" @click="exportVisible=true"><Files /></el-icon>
                    </el-tooltip> -->
                    <el-dropdown placement="bottom" trigger="hover">
                        <!-- <el-icon style="margin-right: 25px;"><Files /></el-icon> -->
                        <el-icon style="margin-right: 25px;" size="16"><Folder /></el-icon>
                        <!-- <i style="width:16px;height:16px; margin-right: 25px;" v-html="$iconSvg['save']"></i> -->
                        <template #dropdown>
                            <el-dropdown-menu>
                                <el-dropdown-item @click="handleImportLayer(currentLayerIndex)" :disabled="pinDouMode">导入图像 [Ctrl/⌘ + m]</el-dropdown-item>
                                <el-dropdown-item @click="handleSaveProject" :disabled="pinDouMode">保存项目 [Ctrl/⌘ + s]</el-dropdown-item>
                                <!-- <el-dropdown-item @click="handleImportProject">导入项目</el-dropdown-item> -->
                                <el-dropdown-item @click="handleExportDialog(true)" :disabled="pinDouMode">导出项目 [Ctrl/⌘ + p]</el-dropdown-item>
                                <el-dropdown-item @click="handleExportDialog(false)" :disabled="pinDouMode">导出图像 [Ctrl/⌘ + i]</el-dropdown-item>
                            </el-dropdown-menu>
                        </template>
                    </el-dropdown>

                    <el-tooltip
                    content="全屏 [Alt/⌥ + f]"
                    placement="bottom">
                        <el-icon style="margin-right: 0px;" @click="handleScreenFull"><FullScreen /></el-icon>
                    </el-tooltip>
                </div>
            </el-header>
            <div class="flex-start flex-nowarp full-w" style="flex: 1;">
                <div class="functionBox">
                    <div class="flex-column-start">
                        <el-tooltip
                            content="画笔 [q]"
                            placement="right"
                        >
                            <div class="pointer toolItem flex-center" style="margin-top: 0;" @click="handleChangeTool(0)"
                            :class="{ 'active': currentTool === 0 }">
                                <img :src="requireIcon('brush')"/>
                                <!-- <span v-html="$iconSvg['brush']"></span> -->
                            </div>
                        </el-tooltip>
                        <el-tooltip
                            content="橡皮擦 [w]"
                            placement="right"
                        >
                            <div class="pointer toolItem" @click="handleChangeTool(1)" :class="{ 'active': currentTool === 1 }">
                                <img :src="requireIcon('eraser')"/>
                                <!-- <span v-html="$iconSvg['eraser']"></span> -->
                            </div>
                        </el-tooltip>
                        <el-tooltip
                            content="吸管 [e]"
                            placement="right"
                        >
                            <div class="pointer toolItem" @click="handleChangeTool(2)" :class="{ 'active': currentTool === 2 }">
                                <!-- <span v-html="$iconSvg['straw']"></span> -->
                                <img :src="requireIcon('straw')"/>
                            </div>
                        </el-tooltip>
                        <el-tooltip
                            content="油漆桶 [r]"
                            placement="right"
                        >
                            <div class="pointer toolItem" @click="handleChangeTool(4)" :class="{ 'active': currentTool === 4 }">
                                <img :src="requireIcon('bucket')"/>
                            </div>
                        </el-tooltip>
                        <el-tooltip
                            content="移动 [t]"
                            placement="right"
                        >
                            <div class="pointer toolItem" @click="handleChangeTool(7)"
                            :class="{ 'active': currentTool === 7 }">
                                <img :src="requireIcon('move')"/>
                            </div>
                        </el-tooltip>
                        <el-tooltip
                            content="形状"
                            placement="right"
                        >
                            <el-dropdown placement="bottom-start" trigger="click">
                                <div class="pointer toolItem" @click="handleChangeTool(3)" :class="{ 'active': currentTool === 3 }">
                                    <img :src="requireShapeImg"/>
                                </div>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="drawShape('rect')" :disabled="pinDouMode">矩 形 [a]</el-dropdown-item>
                                        <el-dropdown-item @click="drawShape('circle')" :disabled="pinDouMode">圆 形 [s]</el-dropdown-item>
                                        <el-dropdown-item @click="drawShape('line')" :disabled="pinDouMode">直 线 [d]</el-dropdown-item>
                                        <el-dropdown-item @click="drawShape('fillRect')" :disabled="pinDouMode">填充矩形 [f]</el-dropdown-item>
                                        <el-dropdown-item 
                                        v-if="false"
                                        @click="drawShape('curve')"
                                        style="flex-direction: column;align-items: flex-start;"
                                        :disabled="pinDouMode">
                                            曲 线 [g]
                                            <p style="color: #808080;">[数字键1 - 上曲线]</p>
                                            <p style="color: #808080;">[数字键2 - 下曲线]</p>
                                            <p style="color: #808080;">[数字键3 - 左曲线]</p>
                                            <p style="color: #808080;">[数字键4 - 右曲线]</p>
                                        </el-dropdown-item>
                                        <!-- <el-dropdown-item @click="drawShape('fillCircle')">填充圆形</el-dropdown-item> -->
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            
                        </el-tooltip>
                        
                        
                        <el-tooltip
                            content="选区"
                            placement="right"
                        >
                            <el-dropdown placement="bottom-start" trigger="click">
                                <div class="pointer toolItem" @click="handleChangeTool(8)"
                                :class="{ 'active': currentTool === 8 }">
                                    <img :src="requireSelectImg"/>
                                </div>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="selectType='select'">手动选择 [y]</el-dropdown-item>
                                        <el-dropdown-item @click="selectType='quickSelect'">快速选择 [p]</el-dropdown-item>
                                        <el-dropdown-item @click="handleCancelSelect" :disabled="!selectData.selectList.length">取消选择 [Alt/⌥ + n]</el-dropdown-item>
                                        <el-dropdown-item @click="selectData.copyList = JSON.parse(JSON.stringify(selectData.selectList))" :disabled="!selectData.selectList.length">复 制 [Alt/⌥ + c]</el-dropdown-item>
                                        <!-- <el-dropdown-item @click="handleSelect('copy')" disabled>粘 贴 [Alt/⌥ + v]</el-dropdown-item> -->
                                        <el-dropdown-item @click="handleRemoveSelect" :disabled="!selectData.selectList.length">删 除 [Alt/⌥ + d]</el-dropdown-item>
                                        <el-dropdown-item disabled>移 动 [Shift + 鼠标左键]</el-dropdown-item>
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            
                        </el-tooltip>
                        <!-- <el-tooltip
                        content="魔棒 [p]"
                        placement="right"
                        >
                            <div class="pointer toolItem" @click="handleChangeTool(9)"
                            :class="{ 'active': currentTool === 9 }">
                                <img :src="requireIcon('magicStick')"/>
                            </div>
                        </el-tooltip> -->
                    </div>
                    <div class="flex-column-end">
                        <el-tooltip
                            content="变换"
                            placement="right"
                        >
                            <el-dropdown placement="top-start" trigger="click">
                                <div class="pointer toolItem" :class="{ 'active': currentTool === 9 }">
                                    <img :src="requireTransformImg"/>
                                </div>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="drawTransform('scale')" :disabled="pinDouMode">缩放 [Ctrl/⌘ + q]</el-dropdown-item>
                                        <el-dropdown-item @click="drawTransform('hReverse')" :disabled="pinDouMode">水平翻转 [Ctrl/⌘ + ↑]</el-dropdown-item>
                                        <el-dropdown-item @click="drawTransform('vReverse')" :disabled="pinDouMode">垂直翻转 [Ctrl/⌘ + ↓]</el-dropdown-item>
                                        <el-dropdown-item @click="drawTransform('ssz')" :disabled="pinDouMode || canvasWidth!==canvasHeight">顺时针旋转90度 [Ctrl/⌘ + →]</el-dropdown-item>
                                        <el-dropdown-item @click="drawTransform('nsz')" :disabled="pinDouMode || canvasWidth!==canvasHeight">逆时针旋转90度 [Ctrl/⌘ + ←]</el-dropdown-item>
                                        <!-- <el-dropdown-item @click="drawShape('fillCircle')">填充圆形</el-dropdown-item> -->
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            
                        </el-tooltip>
                        <el-tooltip
                            content="滤镜"
                            placement="right"
                        >
                            <el-dropdown placement="top-start" trigger="click">
                                <div class="pointer toolItem">
                                    <img :src="requireIcon('filter')"/>
                                </div>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="handleFilter(1)" :disabled="pinDouMode">黑 白</el-dropdown-item>
                                        <el-dropdown-item @click="handleFilter(2)" :disabled="pinDouMode">反 相</el-dropdown-item>
                                        <el-dropdown-item @click="handleFilter(3)" :disabled="pinDouMode">BGRA</el-dropdown-item>
                                        <!-- <el-dropdown-item @click="drawShape('fillCircle')">填充圆形</el-dropdown-item> -->
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            
                        </el-tooltip>
                        <el-tooltip
                            content="替换颜色 [u]"
                            placement="right"
                        >
                            <div class="pointer toolItem" @click="handleOpenReplaceColorDialog">
                                <img :src="requireIcon('color')"/>
                            </div>
                        </el-tooltip>
                        <el-tooltip
                            content="清空图层 [i]"
                            placement="right"
                        >
                            <div class="pointer toolItem" @click="handleChangeTool(6)">
                                <img :src="requireIcon('clear')"/>
                            </div>
                        </el-tooltip>
                        <el-tooltip
                            content="拼豆模式"
                            placement="right"
                        >
                            <el-dropdown placement="top-start" trigger="hover">
                                <div class="pointer toolItem" @click="handleChangeTool(5)" :class="{ 'active': currentTool === 5 }">
                                    <img :src="requireIcon('pindou')"/>
                                </div>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="handlePindouMode('preview')" :disabled="pinDouMode">预览模式 [o]</el-dropdown-item>
                                        <el-dropdown-item @click="handlePindouMode('draw')" :disabled="pinDouMode">绘图模式 [k]</el-dropdown-item>
                                       
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            
                        </el-tooltip>
                        <!-- <el-tooltip
                            content="AI"
                            placement="right"
                        >
                            <el-dropdown placement="top-start" trigger="click">
                                <div class="pointer toolItem">
                                    <img :src="requireIcon('ai')"/>
                                </div>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="handleFilter(1)" :disabled="pinDouMode">智能描边</el-dropdown-item>
                                        <el-dropdown-item @click="handleFilter(2)" :disabled="pinDouMode">智能生图</el-dropdown-item>
                                        
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            
                        </el-tooltip> -->
                    </div>
                    
                </div>
                <div class="pixelBox scrollbar" v-loading="loading" element-loading-background="#00000000">
                    <canvas id="PixelCanvas" width="512" height="512"></canvas>
                    <canvas id="Canvas" width="512" height="512"></canvas>
                    <canvas id="RealCanvas" v-show="false"></canvas>
                    <p v-if="gridInfo!=='[]'" class="gridInfo">{{ gridInfo }}</p>
                    <div class="flex-center cancelSelect">
                        <div v-if="selectData.selectList.length">
                            <!-- <el-dropdown placement="top">
                                <el-button type="primary" @click="handleRemoveSelect">旋 转</el-button>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item>45度</el-dropdown-item>
                                        <el-dropdown-item>90度</el-dropdown-item>
                                        <el-dropdown-item>180度</el-dropdown-item>
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown> -->
                            <el-button type="primary" @click="handleCopySelectData">复 制</el-button>
                            <el-button type="primary" @click="handleRemoveSelect">删 除</el-button>
                            <el-button type="primary" @click="handleCancelSelect">取消选择</el-button>
                        </div>
                        <div v-if="currentTool === 9 && scaleAreaData">
                            <el-button type="danger" @click="handleCancelScale">
                                <el-icon><Close /></el-icon>
                            </el-button>
                            <el-button type="success" @click="handleFinishScale">
                                <el-icon><Check /></el-icon>
                            </el-button>
                        </div>
                    </div>
                    
                    <div class="colorSelector" v-if="colorStatList.length">
                        <div class="back-icon" @click="handleExpand">
                            <el-icon><Expand /></el-icon>
                        </div>
                        <div class="color-body scrollbar full-layout">
                            <div class="colorItem" v-for="item in colorStatList"
                            :key="item"
                            :class="{ 'active': brushColor === item }"
                            @click="brushColor=item"
                            :style="{backgroundColor:item}">
                            </div>
                        </div>
                    </div>
                    <div class="pindouBtn flex-center" @click="handleShowPindou" v-if="isHidePindouMode">{{pinDouMode ? '预' : '绘' }}</div>
                    
                </div>
            </div>
            <el-footer class="flex-start">
                <div class="text-center">帧</div>
                <div 
                class="flex-start frame-list scrollbar" 
                @dragstart="onDragStart($event, pinDouMode)"
                @dragover="onDragOver($event, 'frameBox')"
                @dragend="onDragFrameEnd($event, 'frameBox')"
                ref="frameBox"
                id="frame-box">
                    <el-dropdown 
                    draggable="true"
                    v-for="(item, index) in drawRecord"
                    :data-key="item.frameId"
                    data-node="LI"
                    :disabled="pinDouMode"
                    :key="item.frameId" trigger="hover">
                        <div
                        @click="handleChangeFrame(index)"
                        class="frame-item pointer"
                        :class="{ 'active': currentFrameIndex === index }">
                            <img draggable="false" :src="item.currentFrameImg" v-if="item.currentFrameImg">
                        </div>
                        <template #dropdown>
                            <el-dropdown-menu>
                                <el-dropdown-item @click="handleCopyFrame(index, 'copy')">复 制</el-dropdown-item>
                                <!-- <el-dropdown-item @click="handleExportFrame(index)">导出为帧数据</el-dropdown-item> -->
                                <el-dropdown-item @click="handleDeleteFrame(index)" v-if="index!==0">删 除</el-dropdown-item>
                                <el-dropdown-item @click="handleCopyFrame(index, 'copyData')">复制帧数据</el-dropdown-item>
                                <el-dropdown-item @click="handleCopyFrame(index, 'pasteData')">粘贴帧数据</el-dropdown-item>
                                <el-dropdown-item @click="handleExportFrame(index)">导出为图像</el-dropdown-item>
                                
                            </el-dropdown-menu>
                        </template>
                    </el-dropdown>
                    <div class="frame-item pointer frame-add flex-center"
                    @click="handleAddFrame"
                    v-if="drawRecord.length < maxFrame">
                        <el-icon><Plus /></el-icon>
                    </div>
                </div>
            </el-footer>
        </el-main>
        <el-aside>
            <div class="full-h flex-nowarp flex flex-column">
                <div style="flex:1" class="full-w">
                    <h1>属性面板</h1>
                    <el-divider border-style="dashed" />
                    <div class="function-block function-block-between">
                        <div>
                            <span class="function-label">画笔颜色</span>
                            <el-color-picker v-model="brushColor" show-alpha @active-change="(e) => brushColor = e"/>
                        </div>
                        <div class="flex-center">
                            <el-tooltip
                            content="保存颜色 [Alt/⌥ + s]"
                            placement="top">
                                <el-link type="info" :underline="false" @click="handleSaveColor(false)">保存</el-link>
                            </el-tooltip>
                            <el-tooltip
                            content="复制颜色 [Ctrl/⌘ + Alt/⌥ + c]"
                            placement="top">
                                <el-link type="info" :underline="false" style="margin-left: 10px;" @click="handleCopyColor">复制</el-link>
                            </el-tooltip>
                        </div>
                    </div>
                    <div class="function-block function-block-between" v-show="currentDrawShape.indexOf('fill')>=0 && currentTool===3">
                        <div>
                            <span class="function-label">填充颜色</span>
                            <el-color-picker v-model="shapeFillColor" show-alpha />
                        </div>
                    </div>
                    <div class="function-block-column">
                        <span class="function-label">常用颜色</span>
                        <div  class="flex-start flex-warp common-color scrollbar">
                            <el-dropdown v-for="(item, index) in myColorList[0].list" :key="item" trigger="contextmenu">
                                <div :style="{backgroundColor: item}" class="mycolor" @click="brushColor=handleTransformColorAsHex(item)"></div>
                                <template #dropdown>
                                    <el-dropdown-menu>
                                    <el-dropdown-item @click="copyText(item)">复 制</el-dropdown-item>
                                    <el-dropdown-item @click="handleEditMyColor(item, 1, index)">修 改</el-dropdown-item>
                                    <el-dropdown-item @click="handleDeleteMyColor(index, 1)">删 除</el-dropdown-item>
                                    </el-dropdown-menu>
                                </template>
                            </el-dropdown>
                            
                            <div class="mycolor flex-center" style="background-color: var(--el-bg-color-second);">
                                <el-popover placement="bottom" :width="250" trigger="click" :visible="addMyColorVisible">
                                    <template #reference>
                                        <el-icon color="#808080" @click="addMyColorVisible=true;editMyColorMask=null"><Plus /></el-icon>
                                    </template>
                                    <div>
                                        <p>{{editMyColorMask?'修改颜色':'添加颜色'}}</p>
                                        <div class="flex-between" style="margin-top: 10px;">
                                            <el-color-picker v-model="myColor" show-alpha/>
                                            <el-select v-model="myColorGroup" placeholder="选择分组" style="width: 150px">
                                                <el-option
                                                    v-for="item in myColorList"
                                                    :key="item.id"
                                                    :label="item.groupName"
                                                    :value="item.id"
                                                    />
                                                    <template #footer>
                                                        <el-button v-if="!isAddGroup" text bg size="small" @click="isAddGroup=true">
                                                            新建分组
                                                        </el-button>
                                                        <template v-else>
                                                            <el-input
                                                            v-model="myGroupName"
                                                            class="option-input"
                                                            placeholder="请输入分组"
                                                            size="small"
                                                            maxlength="10"
                                                            />
                                                            <div class="flex-end">
                                                                <el-button size="small" @click="myGroupName='';isAddGroup=false">取消</el-button>
                                                                <el-button type="primary" size="small" @click="addColorGroup">保存</el-button>  
                                                            </div>
                                                            
                                                        </template>
                                                    </template>
                                            </el-select>
                                        </div>
                                        
                                        <div class="flex-end" style="margin-top: 10px;">
                                            <el-button type="primary" plain @click="addMyColorVisible=false">取 消</el-button>
                                            <el-button type="primary" @click="handleAddColor">保 存</el-button>
                                        </div>
                                    </div>
                                </el-popover>
                            </div>
                            <el-tooltip
                            content="全部颜色 [Alt/⌥ + g]"
                            placement="bottom"
                            >
                                <div class="mycolor flex-center" style="background-color: var(--el-bg-color-second);" @click="handleOpenMyColorDialog">
                                    <el-icon color="#808080"><MoreFilled /></el-icon>
                                </div>
                            </el-tooltip>
                        </div>
                    </div>
                    <div class="function-block" v-if="currentTool===0">
                        <span class="function-label">画笔大小</span>
                        <el-slider v-model="brushSize" :step="1" :max="5" :min="1" size="small" show-stops/>
                    </div>
                    <div class="function-block" v-else-if="currentTool===1">
                        <span class="function-label">橡皮擦大小</span>
                        <el-slider v-model="eraserSize" :step="1" :max="5" :min="1" size="small" show-stops/>
                    </div>
                    <div class="function-block-column">
                        <span class="function-label">画布像素</span>
                        <div style="margin-top: 15px;" class="flex-start full-w">
                            <el-input
                            v-model="canvasWidth"
                            style="max-width: 120px"
                            type="number"
                            :max="70"
                            :min="6"
                            :disabled="pinDouMode || isScaling || selectData.selectList.length"
                            @change="(e) => handleChangeCanvasSize(e, 'canvasWidth')"
                            >
                                <template #prepend>宽</template>
                            </el-input>
                            <el-input
                            v-model="canvasHeight"
                            style="max-width: 120px; margin-left: 10px;"
                            type="number"
                            :max="70"
                            :min="6"
                            :disabled="pinDouMode || isScaling || selectData.selectList.length"
                            @change="(e) => handleChangeCanvasSize(e, 'canvasHeight')"
                            >
                                <template #prepend>高</template>
                            </el-input>
                        </div>
                        <div style="margin-top: 10px;">
                            <el-checkbox v-model="isCheckedRatio" size="small" label="保持横纵比" @change="handleChangeRatio" :disabled="pinDouMode"/>
                            <el-checkbox v-model="isShowReferenceLine" size="small" label="参考线" :disabled="pinDouMode"/>
                        </div>
                        <div style="margin-top: 10px;" v-show="currentTool === 0" class="flex-between symmetric-box full-w">
                            <el-checkbox v-model="isHorizontal" size="small" label="水平对称" :disabled="pinDouMode" @change="handleChangeBrushSymmetric($event, 'isHorizontal')"/>
                            <el-checkbox v-model="isVertical" size="small" label="垂直对称" :disabled="pinDouMode" @change="handleChangeBrushSymmetric($event, 'isVertical')"/>
                            <el-checkbox v-model="isCenter" size="small" label="中心对称" :disabled="pinDouMode" @change="handleChangeBrushSymmetric($event, 'isCenter')"/>

                        </div>
                    </div>
                    <div class="function-block function-block-between" v-show="currentTool === 4 || (currentTool === 8 && selectType === 'quickSelect')">
                        <div class="function-label">
                            容 差
                        </div>
                        <el-input-number v-model="tolerance" :min="0" :max="200" />
                        <!-- <el-slider v-model="tolerance" :max="200" size="small"/> -->
                    </div>
                </div>
                <div style="flex: 1;margin-top: 10px;" class="full-w scrollHidden" v-if="drawRecord.length">
                    <h1 class="flex-between">图层面板 
                        <div class="flex-end">
                            <el-icon 
                            style="margin-right: 15px;" 
                            class="pointer" 
                            @click="handleChangeLayerVisible(-1)"
                            v-if="currentFrameLayerVisible"><View />
                            </el-icon>
                            <el-icon style="margin-right: 15px;" class="pointer" @click="handleChangeLayerVisible(-1)" v-else><Hide /></el-icon>
                            <el-tooltip
                            content="合并图层 [Ctrl/⌘ + Alt/⌥ + h]"
                            placement="top">
                                <el-icon style="margin-right: 15px;" class="pointer" @click="handleLayerMerge"><DocumentAdd /></el-icon>
                            </el-tooltip>
                            <el-tooltip
                            content="新建图层 [Ctrl/⌘ + Alt/⌥ + t]"
                            placement="top">
                                <el-icon style="margin-right: 10px;" class="pointer" @click="handleAddLayer"><CirclePlus /></el-icon>
                            </el-tooltip>
                            
                        </div>
                    </h1>
                    <el-divider border-style="dashed" />
                    <div 
                    ref="layerBox"
                    id="layer-box"
                    class="scrollbar scrollY full-w layer-list"
                    @dragstart="onDragStart($event, pinDouMode)"
                    @dragover="onDragOver($event, 'layerBox')"
                    @dragend="onDragLayerEnd($event, 'layerBox')"
                    style="height: calc(100% - 70px);">
                        <!-- <el-dropdown
                        draggable="true"
                        class="full-w"
                        trigger="contextmenu"
                        v-for="(item, index) in drawRecord[currentFrameIndex].layer"
                        :data-key="item.layerId"
                        :disabled="pinDouMode"
                        data-node="LI"
                        :key="item.layerId" > -->
                        <div
                        v-for="(item, index) in drawRecord[currentFrameIndex].layer"
                        draggable="true"
                        :data-key="item.layerId"
                        :disabled="pinDouMode"
                        data-node="LI"
                        :key="item.layerId"
                        class="layer-item flex-between pointer full-w"  
                        style="gap: 10px;"
                        :class="{ 'active': currentLayerIndex === index, 'select': selectLayerList.includes(index) }"
                        @contextmenu.prevent="handleMenu($event, 'LayerMenu', {layerData:item, index, currentFrameIndex})"
                        @click="handleChangeLayer(index)">
                            <div class="flex-start" style="gap: 10px;">
                                <div class="pointer layer-pic" @click.stop="handleChangeLayerVisible(index)">
                                    <img :src="requireVisibleImg(item.isRender)" />
                                </div>
                                <div class="layer-img flex-center" v-if="item.currentLayerImg">
                                    <img draggable="false" :src="item.currentLayerImg">
                                </div>
                                <div v-if="currentEditLayer.index===index">
                                    <el-input
                                    v-model="currentEditLayer.name" 
                                    :maxlength="10"
                                    @click.stop="null"
                                    @blur="handleEditLayerName"
                                    @keyup.enter="handleEditLayerName"
                                    placeholder="请输入图层名称" 
                                    size="small">
                                    </el-input>
                                </div>
                                <div @dblclick="handleDoubleClickLayer(index, item.layerName)" v-else>{{ item.layerName }}</div>
                            </div>
                            <div class="flex-end">
                                <el-icon style="margin-right:10px" class="pointer" @click.stop="handleCopyLayer(index)"><CopyDocument /></el-icon>
                                <el-popconfirm title="确认删除该图层？" width="200" @confirm="handleDeleteLayer(index)">
                                    <template #reference>
                                        <el-icon class="pointer" @click.stop v-if="index!==drawRecord[currentFrameIndex].layer.length - 1"><Delete /></el-icon>
                                    </template>
                                </el-popconfirm>
                            </div>
                        </div>
                            <!-- <template #dropdown>
                                <el-dropdown-menu>
                                    <el-dropdown-item @click="handleImportLayer(index)">导入图像</el-dropdown-item>
                                    <el-dropdown-item @click="handleExportLayer(currentFrameIndex, index)">导出为图像</el-dropdown-item>
                                </el-dropdown-menu>
                            </template>
                        </el-dropdown> -->
                        
                    </div>
                </div>
            </div>
        </el-aside>
    </el-container>
    
    <teleport to="body">
        <MyColorDialog 
        ref="MyColorDialog"
        @close="addKeyBoardEvent"
        @select="(color) => brushColor = color">
        </MyColorDialog>

        <ReplaceColorDialog
        @close="addKeyBoardEvent"
        ref="ReplaceColorDialog" 
        @confirm="handleConfirmReplaceColor">
        </ReplaceColorDialog>
       
        <ExportDialog 
        v-if="exportVisible" 
        :loading="exportLoaidng"
        :visible="exportVisible"
        :isExportProject="isExportProject"
        @export="handleExport"
        @close="handleCloseDialog('exportVisible')">
        </ExportDialog>

        <PreviewAnimDialog 
        ref="PreviewAnimDialog">
        </PreviewAnimDialog>

        <PindouDialog
        ref="PindouDialog" 
        @close="handleCloseDialog" 
        @change="handlePindouEvent"
        @replace="handleReplacePindouColor"
        @highlight="handlePindouHighlight"
        @select="handleChangeBrushColor"
        @removeKeyBoard="handleCancelKeyboardEvent"
        @addKeyBoard="addKeyBoardEvent"
        @hide="isHidePindouMode=true"
        @export="handleExportPindou">
        </PindouDialog>

        <LayerMenu
        v-if="LayerMenu.visible"
        :visible="LayerMenu.visible"
        :left="LayerMenu.left"
        :top="LayerMenu.top"
        :contextData="LayerMenu.contextData"
        @import="handleImportLayer"
        @export="handleExportLayer">
        </LayerMenu>
    </teleport>
    
</div>