.container {
    background-color: var(--el-shadow-color);
}

.functionBox {
    height: 100%;
    background-color: var(--el-bg-color-second);
    box-shadow: 1px 0px 4px 4px var(--el-shadow-aside);
    padding: 15px 5px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 8;

    .toolItem {
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--el-bg-color);
        transition: all .3s;
        margin: 10px 0 0 0;

        :hover {
            transform: scale(1.1);
        }
    }

    .active {
        background-color: var(--el-bg-color-tool);
    }
}

.pixelBox {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #RealCanvas {
        position: absolute;
        top: 9999px;
        left: 9999px;
    }

    #Canvas, #PixelCanvas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .gridInfo {
        position: absolute;
        bottom: 10px;
        right: 50%;
        transform: translate(50%, 0);
    }

    .cancelSelect {
        position: absolute;
        bottom: 50px;
        right: 50%;
        transform: translate(50%, 0);
    }

    .colorSelector {
        position: absolute;
        top: 0;
        right: 0;
        transition: all .5s;
        transform: translateX(0);
        width: 80px;
        max-width: 80px;
        height: 100%;
        background: var(--el-drawer-bg);
        // overflow-y: auto;

        .back-icon {
            position: absolute;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 30px;
            top: 20%;
            left: -30px;
            background-color: var(--el-drawer-bg);
            cursor: pointer;
    
            i {
                transition: all .3s;
                color:#fff;
            }
        }

        .color-body {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            // height: auto;
            overflow-y: auto;
            padding: 5px;
            // justify-content: flex-start;
            // align-items: center;
            // flex-direction: column;

            .colorItem {
                // width: 60px;
                height: 30px;
                border-radius: 10px;
                margin: 10px 0 0 0;
                box-shadow: 0px 0px 0px 2px var(--el-shadow-color);
                cursor: pointer;
            }
        }
    }
}

.el-main {
    flex: 3;
    flex-basis: auto;
    overflow: hidden;
    min-height: 600px;
}

.el-header, .el-footer {
    background-color: var(--el-bg-color);
    width: 100%;
    box-shadow: 0px 0px 4px 4px var(--el-shadow-nav);
    z-index: 9;

    i {
        cursor: pointer;
        &:hover {
            color: var(--el-color-primary);
        }
    }
}

.el-footer {
    height: 80px;
}

.el-aside {
    background-color: var(--el-bg-color-second);
    box-shadow: -1px 0px 4px 4px var(--el-shadow-aside);
    min-width: 300px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
    padding: 20px;
    z-index: 10;
}


.function-block, .function-block-column {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .function-label {
        margin-right: 16px;
    }

    .mycolor {
        cursor: pointer;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 4px 4px var(--el-shadow-color);
        margin: 10px;
    }
}

.function-block-between {
    justify-content: space-between;
}

.function-block-column {
    align-items: flex-start;
    flex-direction: column;
}



.el-slider {
    width: 160px;
}


.brush-cursor {
    cursor: url('../../../public/icon/brush_cursor.png') -3 10, auto;
}

.eraser-cursor {
    cursor: url('../../../public/icon/eraser_cursor.png') -3 10, auto;
}

.straw-cursor {
    cursor: url('../../../public/icon/straw_cursor.png') -3 10, auto;
}

.circle-cursor {
    cursor: url('../../../public/icon/circle_cursor.png') -3 10, auto;
}

.rect-cursor {
    cursor: url('../../../public/icon/rect_cursor.png') -3 10, auto;
}

.bucket-cursor {
    cursor: url('../../../public/icon/bucket_cursor.png') -3 8, auto;
}

.select-cursor {
    cursor: url('../../../public/icon/select_cursor.png') -3 10, auto;
}

.move-cursor {
    cursor: move;
}

.option-input {
    width: 150px;
    margin-bottom: 8px;
}

.layer-list {
    .layer-item {
        height: 40px;
        background-color: var(--el-bg-color);
        margin: 5px 10px 5px 0;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
    
        .layer-pic {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
    .active {
        background-color: var(--el-bg-color-tool);
    }
}


.frame-list {
    margin-left: 20px;
    overflow: auto;
    .frame-item {
        border: 2px solid var(--el-shadow-aside);
        border-radius: 5px;
        width: 70px;
        height: 70px;
        margin: 0 5px;
        background-color: var(--el-bg-island-nav);

        img {
            object-fit: contain;
        }
    }

    .frame-add {
        font-size: 30px;
        min-width: 70px;
    }

    .active {
        border: 2px solid var(--el-color-primary);
    }
}

.back {
    h1 {
        margin-left: 15px;
    }
    i {
        cursor: pointer;
        &:hover {
            color: var(--el-color-primary);
        }
    }
}

