<el-config-provider :locale="locale">
    <div class="container full-h">
        <el-container class="full-h flex-warp">
            <el-main class="flex-column-center" style="display: flex;padding: 0;">
                <el-header class="flex-between">
                    <h1>像素格子</h1>
                    <div class="flex-end">
                        <el-tooltip
                        content="撤销"
                        placement="bottom">
                            <el-icon style="margin-right: 25px;" @click="ScreenFull"><Back /></el-icon>
                        </el-tooltip>

                        <el-tooltip
                        content="恢复"
                        placement="bottom">
                            <el-icon style="margin-right: 25px;" @click="ScreenFull"><Right /></el-icon>
                        </el-tooltip>

                        <el-tooltip
                        content="导出"
                        placement="bottom">
                            <el-icon style="margin-right: 25px;" @click="exportVisible=true"><Files /></el-icon>
                        </el-tooltip>

                        <el-tooltip
                        :content="checkTheme ? '夜间模式' : '白天模式'"
                        placement="bottom">
                            <el-icon style="margin-right: 25px;" @click="changeTheme" v-if="checkTheme"><Moon /></el-icon>
                            <el-icon style="margin-right: 25px;" @click="changeTheme" v-else><Sunny /></el-icon>
                        </el-tooltip>

                        <el-tooltip
                        content="全屏"
                        placement="bottom">
                            <el-icon style="margin-right: 25px;" @click="ScreenFull"><FullScreen /></el-icon>
                        </el-tooltip>

                        <el-tooltip
                        content="赞助"
                        placement="bottom">
                            <el-icon style="margin-right: 25px;" @click="donateVisible=true"><ShoppingCart /></el-icon>
                        </el-tooltip>

                        <el-dropdown trigger="click" @command="handleLanguageCommand">
                            <span class="el-dropdown-link">
                                语言
                                <el-icon class="el-icon--right"><arrow-down /></el-icon>
                            </span>
                            <template #dropdown>
                            <el-dropdown-menu>
                                <!-- <el-dropdown-item command="en">英 文</el-dropdown-item> -->
                                <el-dropdown-item command="zh">中 文</el-dropdown-item>
                            </el-dropdown-menu>
                            </template>
                        </el-dropdown>
                    </div>
                </el-header>
                <div class="flex-start flex-nowarp full-w" style="flex: 1;">
                    <div class="functionBox">
                        <div class="flex-column-start">
                            <el-tooltip
                                content="画笔"
                                placement="right"
                            >
                                <div class="pointer toolItem" style="margin-top: 0;" @click="handleChangeTool(0)"
                                :class="{ 'active': currentTool === 0 }">
                                    <img :src="requireIcon('brush')"/>
                                </div>
                            </el-tooltip>
                            <el-tooltip
                                content="橡皮擦"
                                placement="right"
                            >
                                <div class="pointer toolItem" @click="handleChangeTool(1)" :class="{ 'active': currentTool === 1 }">
                                    <img :src="requireIcon('eraser')"/>
                                </div>
                            </el-tooltip>
                            <el-tooltip
                                content="吸管"
                                placement="right"
                            >
                                <div class="pointer toolItem" @click="handleChangeTool(2)" :class="{ 'active': currentTool === 2 }">
                                    <img :src="requireIcon('straw')"/>
                                </div>
                            </el-tooltip>
                            <el-tooltip
                                content="形状"
                                placement="right"
                            >
                                <el-dropdown placement="bottom-start" trigger="click">
                                    <div class="pointer toolItem" @click="handleChangeTool(3)" :class="{ 'active': currentTool === 3 }">
                                        <img :src="requireShapeImg"/>
                                    </div>
                                    <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="drawShape('rect')">矩 形</el-dropdown-item>
                                        <el-dropdown-item @click="drawShape('circle')">圆 形</el-dropdown-item>
                                        <el-dropdown-item @click="drawShape('line')">直 线</el-dropdown-item>
                                        <el-dropdown-item @click="drawShape('fillRect')">填充矩形</el-dropdown-item>
                                        <!-- <el-dropdown-item @click="drawShape('fillCircle')">填充圆形</el-dropdown-item> -->
                                    </el-dropdown-menu>
                                    </template>
                                </el-dropdown>
                                
                            </el-tooltip>
                            <el-tooltip
                                content="油漆桶"
                                placement="right"
                            >
                                <div class="pointer toolItem" @click="handleChangeTool(4)" :class="{ 'active': currentTool === 4 }">
                                    <img :src="requireIcon('bucket')"/>
                                </div>
                            </el-tooltip>
                        </div>
                        <div class="flex-column-end">
                            <el-tooltip
                                content="变换"
                                placement="right"
                            >
                                <el-dropdown placement="bottom-start" trigger="click">
                                    <div class="pointer toolItem" @click="handleChangeTool(5)" :class="{ 'active': currentTool === 5 }">
                                        <img :src="requireTransformImg"/>
                                    </div>
                                    <template #dropdown>
                                    <el-dropdown-menu>
                                        <el-dropdown-item @click="drawTransform('hReverse')">水平翻转</el-dropdown-item>
                                        <el-dropdown-item @click="drawTransform('vReverse')">垂直翻转</el-dropdown-item>
                                        <el-dropdown-item @click="drawTransform('ssz')">顺时针旋转</el-dropdown-item>
                                        <el-dropdown-item @click="drawTransform('nsz')">逆时针旋转</el-dropdown-item>
                                        <!-- <el-dropdown-item @click="drawShape('fillCircle')">填充圆形</el-dropdown-item> -->
                                    </el-dropdown-menu>
                                    </template>
                                </el-dropdown>
                                
                            </el-tooltip>
                            <el-tooltip
                                content="清空图层"
                                placement="right"
                            >
                                <div class="pointer toolItem" @click="handleChangeTool(6)">
                                    <img :src="requireIcon('clear')"/>
                                </div>
                            </el-tooltip>
                        </div>
                        
                    </div>
                    <div class="pixelBox scrollbar">
                        <canvas id="PixelCanvas" width="512" height="512"></canvas>
                        <canvas id="Canvas" width="512" height="512"></canvas>
                        <canvas id="RealCanvas"></canvas>
                        <p v-if="gridInfo!=='[]'" class="gridInfo">{{ gridInfo }}</p>
                        <!-- <canvas id="BGCanvas" width="300" height="300"></canvas>
                        <canvas id="PixelCanvas" width="300" height="300"></canvas> -->
                    </div>
                </div>
                <el-footer class="flex-start">
                    <div class="text-center">帧</div>
                    <div class="flex-start frame-list scrollbar">
                        <el-dropdown v-for="(item, index) in drawRecord" :key="item.frameId" trigger="contextmenu">
                            <div
                            @click="handleChangeFrame(index)"
                            class="frame-item pointer"
                            :class="{ 'active': currentFrameIndex === index }">
                                <img :src="item.currentFrameImg" v-if="item.currentFrameImg">
                            </div>
                            <template #dropdown>
                                <el-dropdown-menu>
                                  <el-dropdown-item @click="handleCopyFrame(index)">复 制</el-dropdown-item>
                                  <el-dropdown-item @click="handleExportFrame(index)">导 出</el-dropdown-item>
                                  <el-dropdown-item @click="handleDeleteFrame(index)" v-if="index!==0">删 除</el-dropdown-item>
                                </el-dropdown-menu>
                            </template>
                        </el-dropdown>
                        <div class="frame-item pointer frame-add flex-center"
                        @click="handleAddFrame"
                        v-if="drawRecord.length < maxFrame">
                            <el-icon><Plus /></el-icon>
                        </div>
                    </div>
                </el-footer>
            </el-main>
            <el-aside>
                <div class="flex-column-center full-h">
                    <div style="flex: 50%;">
                        <h1>属性面板</h1>
                        <el-divider border-style="dashed" />
                        <div class="function-block function-block-between">
                            <div>
                                <span class="function-label">画笔颜色</span>
                                <el-color-picker v-model="brushColor" show-alpha/>
                            </div>
                            <div>
                                <el-link type="primary" :underline="false" @click="handleSaveColor">保存</el-link>
                                <el-link type="primary" :underline="false" style="margin-left: 10px;" @click="handleCopyColor">复制</el-link>
                            </div>
                        </div>
                        <div class="function-block function-block-between" v-show="currentDrawShape.indexOf('fill')>=0 && currentTool===3">
                            <div>
                                <span class="function-label">填充颜色</span>
                                <el-color-picker v-model="shapeFillColor" show-alpha/>
                            </div>
                        </div>
                        <div class="function-block-column">
                            <span class="function-label">常用颜色</span>
                            <div style="margin-top: 15px;" class="flex-start flex-warp">
                                <el-dropdown v-for="(item, index) in myColorList[0].list.slice(0, 10)" :key="item" trigger="contextmenu">
                                    <div :style="{backgroundColor: item}" class="mycolor" @click="brushColor=item"></div>
                                    <template #dropdown>
                                      <el-dropdown-menu>
                                        <el-dropdown-item @click="copyText(item)">复 制</el-dropdown-item>
                                        <el-dropdown-item @click="handleEditMyColor(item, 1, index)">修 改</el-dropdown-item>
                                        <el-dropdown-item @click="handleDeleteMyColor(index, 1)">删 除</el-dropdown-item>
                                      </el-dropdown-menu>
                                    </template>
                                </el-dropdown>
                                
                                <div class="mycolor flex-center" style="background-color: var(--el-bg-color-second);">
                                    <el-popover placement="bottom" :width="250" trigger="click" :visible="addMyColorVisible">
                                        <template #reference>
                                            <el-icon color="#808080" @click="addMyColorVisible=true;editMyColorMask=null"><Plus /></el-icon>
                                        </template>
                                        <div>
                                            <p>{{editMyColorMask?'修改颜色':'添加颜色'}}</p>
                                            <div class="flex-between" style="margin-top: 10px;">
                                                <el-color-picker v-model="myColor" show-alpha/>
                                                <el-select v-model="myColorGroup" placeholder="选择分组" style="width: 150px">
                                                    <el-option
                                                        v-for="item in myColorList"
                                                        :key="item.id"
                                                        :label="item.groupName"
                                                        :value="item.id"
                                                        />
                                                        <template #footer>
                                                            <el-button v-if="!isAddGroup" text bg size="small" @click="isAddGroup=true">
                                                                新建分组
                                                            </el-button>
                                                            <template v-else>
                                                                <el-input
                                                                v-model="myGroupName"
                                                                class="option-input"
                                                                placeholder="请输入分组"
                                                                size="small"
                                                                maxlength="10"
                                                                />
                                                                <div class="flex-end">
                                                                    <el-button size="small" @click="myGroupName='';isAddGroup=false">取消</el-button>
                                                                    <el-button type="primary" size="small" @click="addColorGroup">保存</el-button>  
                                                                </div>
                                                                
                                                            </template>
                                                        </template>
                                                </el-select>
                                            </div>
                                           
                                            <div class="flex-end" style="margin-top: 10px;">
                                                <el-button type="primary" plain @click="addMyColorVisible=false">取 消</el-button>
                                                <el-button type="primary" @click="handleAddColor">保 存</el-button>
                                            </div>
                                        </div>
                                    </el-popover>
                                </div>
                                <div class="mycolor flex-center" style="background-color: var(--el-bg-color-second);" @click="MyColorDialogVisible=true">
                                    <el-icon color="#808080"><MoreFilled /></el-icon>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="function-block">
                            <span class="function-label">画笔大小</span>
                            <el-slider v-model="brushSize" :step="1" :max="40" :min="10"/>
                        </div> -->
                        <div class="function-block-column">
                            <span class="function-label">画布像素</span>
                            <div style="margin-top: 15px;" class="flex-between full-w">
                                <el-input
                                v-model="canvasWidth"
                                style="max-width: 120px"
                                type="number"
                                :max="128"
                                :min="6"
                                @change="(e) => handleChangeCanvasSize(e, 'canvasWidth')"
                                >
                                    <template #prepend>宽</template>
                                </el-input>
                                <el-input
                                v-model="canvasHeight"
                                style="max-width: 120px"
                                type="number"
                                :max="128"
                                :min="6"
                                @change="(e) => handleChangeCanvasSize(e, 'canvasHeight')"
                                >
                                    <template #prepend>高</template>
                                </el-input>
                            </div>
                            <div style="margin-top: 10px;">
                                <el-checkbox v-model="isCheckedRatio" label="保持纵横比" @change="handleChangeRatio" />
                            </div>
                            
                        </div>
                    </div>
                    <div style="flex: 50%;margin-top: 10px;" class="full-w" v-if="drawRecord.length">
                        <h1 class="flex-between">图层面板 <el-icon class="pointer" @click="handleAddLayer"><CirclePlusFilled /></el-icon></h1>
                        <el-divider border-style="dashed" />
                        <div class="scrollbar scrollY full-w layer-list" style="height: calc(100% - 71px);">
                            <div v-for="(item, index) in drawRecord[currentFrameIndex].layer" 
                            :key="item.layerId" 
                            class="layer-item flex-between pointer" 
                            :class="{ 'active': currentLayerIndex === index }" @click.self="handleChangeLayer(index)">
                                <div class="flex-start">
                                    <div class="pointer layer-pic" @click="handleChangeLayerVisible(index)">
                                        <img :src="requireVisibleImg(item.isRender)" />
                                    </div>
                                    <div v-if="currentEditLayer.index===index">
                                        <el-input
                                        v-model="currentEditLayer.name" 
                                        :maxlength="10"
                                        @click.stop="null"
                                        @blur="handleEditLayerName"
                                        @keyup.enter="handleEditLayerName"
                                        placeholder="请输入图层名称" 
                                        style="width:150px">
                                        </el-input>
                                    </div>
                                    <div @dblclick="handleDoubleClickLayer(index, item.layerName)" v-else>{{ item.layerName }}</div>
                                </div>
                                <div class="flex-end">
                                    <el-icon style="margin-right:10px" class="pointer" @click="handleCopyLayer(index)"><CopyDocument /></el-icon>
                                    <el-popconfirm title="确认删除该图层？" width="200" @confirm="handleDeleteLayer(index)">
                                        <template #reference>
                                            <el-icon class="pointer" v-if="index!==drawRecord[currentFrameIndex].layer.length - 1"><Delete /></el-icon>
                                        </template>
                                    </el-popconfirm>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </el-aside>
        </el-container>
        <teleport to="body">
            <MyColorDialog 
            :visible="MyColorDialogVisible" 
            v-if="MyColorDialogVisible"
            @select="(color) => brushColor = color"
            @close="MyColorDialogVisible=false">
            </MyColorDialog>
            <DonateDialog v-if="donateVisible" :visible="donateVisible" @close="donateVisible=false"></DonateDialog>
            <NoticeDialog v-if="noticeVisible" :visible="noticeVisible" :notice="notice" @close="noticeVisible=false"></NoticeDialog>
            <ExportDialog v-if="exportVisible" :visible="exportVisible" 
            @export="handleExport"
            @close="exportVisible=false"></ExportDialog>
        </teleport>
        
    </div>
</el-config-provider>